<!DOCTYPE html>
<html>

<head>
    <title>Your New Token</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        h1 { font-size: 28px;}
    </style>
</head>

<body>
    <div class="emailwrapper">
        <div class="main">
            <div class="content">

                <div style="width: 100%; justify-content: center; text-align: center; margin-bottom: 20px;">
                    <img src="https://crowdstar.xyz/logo192.png" alt="CrowdStar Logo">
                </div>

                <h1>Your room <b>{{name}}</b> is ready</h1>

                <div style="font-size: 24px;">
                    Give better interaction with your audience using the <b>#{{hashtag}}</b>
                </div>

                <div style="font-size: 24px; margin-top: 20px">
                    You can access to your board with this link : <a href="https://crowdstar.xyz/board/{{name}}">CrowdStar</a>
                </div>

                <div style="font-size: 20px; margin-top: 30px;">
                    Thanks for using CrowdStar ❤️
                </div>
            </div>
        </div>
    </div>
</body>

</html>