<!DOCTYPE html>
<html>

<head>
    <title>Your room has been deleted</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        h1 {
            font-size: 28px;
        }
    </style>
</head>

<body>
    <div class="emailwrapper">
        <div class="main">
            <div class="content">

                <div style="width: 100%; justify-content: center; text-align: center; margin-bottom: 20px;">
                    <img src="https://crowdstar.xyz/logo192.png" alt="CrowdStar Logo">
                </div>

                <h1>Your wall <b>{{name}}</b> reached the maximum interaction.</h1>

                <div style="font-size: 24px; margin-top: 20px">
                    The wall is now deleted.
                </div>

                <div style="font-size: 20px; margin-top: 30px;">
                    Thanks for using CrowdStar ❤️
                </div>
            </div>
        </div>
    </div>
</body>

</html>